/* Animations */

.spaceLeft__btn:hover,
.spaceRight__draggableItem:hover {
  background-color: #444;
  color: white;
}

.spaceLeft__btn:hover {
  transition: all 0.3s linear;
  cursor: pointer;

  transform: scale(110%);
}

.dragging {
  -webkit-box-shadow: 0px 0px 189px 166px rgba(255, 255, 255, 0.51);
  -moz-box-shadow: 0px 0px 189px 166px rgba(255, 255, 255, 0.51);
  box-shadow: 0px 0px 189px 166px rgba(255, 255, 255, 0.51);

  border-radius: 32px;

  transform: scale(80%);
  transition: all 0.3s linear;

  z-index: 10;
}
